<div class="page-wrapper detail-page">
        <!-- #PAGE CONTENT# -->
        <div class="detail-page-banner page-banner-3">
            <div class="section full-width-slider">
                <div class="wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="../../assets/images/general/page-banner-33.jpg" />
                            <div class="page-title">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="title">
                                                Marmaris Tatil<br />
                                                Paketleri
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/page-banner-33.jpg" />
                            <div class="page-title">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="title">
                                                Marmaris Tatil<br />
                                                Paketleri
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/page-banner-33.jpg" />
                            <div class="page-title">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="title">
                                                Marmaris Tatil<br />
                                                Paketleri
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/page-banner-33.jpg" />
                            <div class="page-title">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="title">
                                                Marmaris Tatil<br />
                                                Paketleri
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/page-banner-33.jpg" />
                            <div class="page-title">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="title">
                                                Marmaris Tatil<br />
                                                Paketleri
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section-container">
            <div class="section section_12">
                <div class="container">
                    <div class="row item_list_wrapper">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">
                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-20.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>2</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">2N Phuket -> 2N Krabi</div>
                                        <div class="title">
                                            Honeymoon Special Marmaris<br />
                                            5 Yıldız Tatil Fırsatı
                                        </div>
                                        <div class="price">12.799,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">

                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-21.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>9</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">3N Kuala Lumpur -> 2N Genting Highlands -> 2N Singapore</div>
                                        <div class="title">
                                            Singapore and Malaysia<br />
                                            Fully loaded
                                        </div>
                                        <div class="price">2.560,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">

                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-22.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>2</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">3N Kuala Lumpur -> 2N Genting Highlands ->1N Singapore</div>
                                        <div class="title">
                                            Explore Singapore<br />
                                            Kuala Lumpur
                                        </div>
                                        <div class="price">8.599,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">

                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-20.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>2</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">2N Phuket -> 2N Krabi</div>
                                        <div class="title">
                                            Honeymoon Special Marmaris<br />
                                            5 Yıldız Tatil Fırsatı
                                        </div>
                                        <div class="price">12.799,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">

                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-21.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>9</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">3N Kuala Lumpur -> 2N Genting Highlands -> 2N Singapore</div>
                                        <div class="title">
                                            Singapore and Malaysia<br />
                                            Fully loaded
                                        </div>
                                        <div class="price">2.560,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_66">

                            <a href="javascript:void(0)">
                                <div class="wrapper">
                                    <div class="img">
                                        <img src="../../assets/images/general/image-22.jpg" />
                                        <div class="absolute-box">
                                            <div class="item">
                                                <div class="icon"><span class="icon-moon"></span></div>
                                                <span>2</span>
                                            </div>
                                            <div class="item">
                                                <div class="icon"><span class="icon-sun"></span></div>
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="orange-text">3N Kuala Lumpur -> 2N Genting Highlands ->1N Singapore</div>
                                        <div class="title">
                                            Explore Singapore<br />
                                            Kuala Lumpur
                                        </div>
                                        <div class="price">8.599,00 TL</div>
                                        <div class="bottom-icon">
                                            <div class="title">Inclusions</div>
                                            <ul class="">
                                                <li>
                                                    <div class="icon"><span class="icon-airplane-flight"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sleeping-bed-silhouette"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-coffe-cup"></span></div>
                                                </li>
                                                <li>
                                                    <div class="icon"><span class="icon-sports-car"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination">
                                <li class="prev"><a href="javascript:void(0)"><span class="icon-arrow"></span></a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li class="next"><a href="javascript:void(0)"><span class="icon-arrow"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
