<header>
    <div class="search-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <input type="text" placeholder="search any" required />
                        <a href="javascript:void(0)" class="search-button">
                            <span class="icon-magnifying-glass1"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="left">
                            <div class="icon">
                                <span class="icon-favicon-white">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                </span>
                            </div>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" data-link="1">Aksesuarlar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="2">Televizyon & Konsol</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="3">Saatler</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="4">Tekstil</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="5">Telefonlar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="6">Daha Fazla +</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="shopping-cart-box">
                                <div class="wrapper">

                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img">
                                                <img src="../../assets/images/general/image-10.png" />
                                            </div>
                                            <div class="text">
                                                Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img">
                                                <img src="../../assets/images/general/image-10.png" />
                                            </div>
                                            <div class="text">
                                                Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img">
                                                <img src="../../assets/images/general/image-10.png" />
                                            </div>
                                            <div class="text">
                                                Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                                            </div>
                                        </a>
                                    </div>
                                    <div class="last-item">
                                        <span>Çantanızda 3 öge daha var</span>
                                    </div>
                                    <div class="bottom-wrapper">
                                        <div class="button-wrapper">
                                            <a href="javascript:void(0)" class="blue-button">Ödeme Yapın</a>
                                        </div>
                                        <div class="basket-links">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-shopping-bag"></span>
                                                        <span>Çanta</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-heart"></span>
                                                        <span>Favoriler</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-package"></span>
                                                        <span>Siparişler</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-settings"></span>
                                                        <span>Hesap</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-avatar"></span>
                                                        <span>Oturum Açın</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="javascript:void(0)" class="icon_button search_button">
                                <span class="icon-magnifying-glass1"></span>
                            </a>
                            <a href="javascript:void(0)" class="icon_button shopping-cart-button">
                                <span class="icon-shopping-bag"></span>
                                <small>13 </small>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #HEADER TOP# -->
    <!-- #HEADER CATEGORY MEGA MENU# -->
    <div class="mega-menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="left">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" data-link="1">
                                        <span class="icon-perfume"></span>
                                        <span>Aksesuarlar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="2">
                                        <span class="icon-television"></span>
                                        <span>Televizyon&Konsol</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="3">
                                        <span class="icon-watch"></span>
                                        <span>Saatler</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="4">
                                        <span class="icon-hanger"></span>
                                        <span>Tekstil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="5">
                                        <span class="icon-smartphone-call"></span>
                                        <span>Telefonlar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="6">
                                        <span class="icon-monitor"></span>
                                        <span>Bilgisayar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-link="7">
                                        <span class="icon-wind"></span>
                                        <span>Isıtma&Soğutma</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="right-wrapper">
                                <div class="item" data-id="1">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Aksesuarlar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Aksesuarlar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="2">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Televizyon&Konsol</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Televizyon&Konsol</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="3">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Klasik Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Klasik Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Spor Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Spor Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Calvin Clein</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Calvin Clein</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Victor Hugo</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Victor Hugo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-11.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="4">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Klasik Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Klasik Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Spor Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Spor Saatler</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Calvin Clein</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Calvin Clein</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Victor Hugo</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Victor Hugo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="5">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Telefonlar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Telefonlar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="6">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Bilgisayar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Bilgisayar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                                <div class="item" data-id="7">
                                    <div class="links-group">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">Isıtma&Soğutma</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Isıtma&Soğutma</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Louis Moinet</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Histoire De Tourbillon</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="image">
                                        <img src="../../assets/images/general/image-12.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #HEADER CATEGORY MEGA MENU# -->
    <!-- #HEADER CONTENT# -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 logo">
                    <a href="javascript:void(0)" class="mobile-menu-button">
                        <span class="line"></span>
                        <span class="line"></span>
                    </a>
                    <a href="/home" class="dekstop">
                        <img src="../../assets/images/general/logowinfiniti.svg" />
                    </a>
                    <a href="javascript:void(0)" class="mobile">
                        <img src="../../assets/images/general/logo-white.svg" />
                    </a>
                    <div class="mobile-basket-box">

                        <a href="javascript:void(0)" class="icon_button shopping-cart-button">
                            <span class="icon-shopping-bag"></span>
                            <small>13 </small>
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-8 right">
                    <div class="header-links">
                        <ul>
                            <li>
                                <a href="/kategori">Giriş Yap</a>
                            </li>
                            <li class="active">
                                <a href="/contact-us">Hesap Oluştur</a>
                            </li>
                            <li>
                                <a href="/page-not-found">SSS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #HEADER CONTENT# -->
    <!-- #MOBILE MENU# -->
    <div class="mobile-menu-box">
        <div class="wrapper">
            <div class="mobile-search-box">
                <div class="wrapper">
                    <input type="text" placeholder="search any" required />
                    <a href="javascript:void(0)" class="search-button">
                        <span class="icon-magnifying-glass1"></span>
                    </a>
                </div>
            </div>
            <ul>
                <li>
                    <a href="javascript:void(0)">Aksesuarlar</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Televizyon & Konsol</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Saatşer</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Tekstil</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Telefonlar</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Daha Fazla +</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Giriş Yap</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Hesap Oluştur</a>
                </li>
                <li>
                    <a href="javascript:void(0)">SSS</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- #MOBILE MENU# -->
</header>
<!-- #MOBILE SHOPPING CART# -->
<div class="shopping-cart-box mobile-basket-box">
    <div class="wrapper">

        <div class="item">
            <a href="javascript:void(0)">
                <div class="img">
                    <img src="../../assets/images/general/image-10.png" />
                </div>
                <div class="text">
                    Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                </div>
            </a>
        </div>
        <div class="item">
            <a href="javascript:void(0)">
                <div class="img">
                    <img src="../../assets/images/general/image-10.png" />
                </div>
                <div class="text">
                    Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                </div>
            </a>
        </div>
        <div class="item">
            <a href="javascript:void(0)">
                <div class="img">
                    <img src="../../assets/images/general/image-10.png" />
                </div>
                <div class="text">
                    Beats Bass Boosted 200 Kablolu Siyah Kulaklık
                </div>
            </a>
        </div>
        <div class="last-item">
            <span>Çantanızda 3 öge daha var</span>
        </div>
        <div class="bottom-wrapper">
            <div class="button-wrapper">
                <a href="javascript:void(0)" class="blue-button">Ödeme Yapın</a>
            </div>
            <div class="basket-links">
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="icon-shopping-bag"></span>
                            <span>Çanta</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="icon-heart"></span>
                            <span>Favoriler</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="icon-package"></span>
                            <span>Siparişler</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="icon-settings"></span>
                            <span>Hesap</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span class="icon-avatar"></span>
                            <span>Oturum Açın</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- #MOBILE SHOPPING CART# -->
<!-- #HEADER# -->
