
    <div class="page-wrapper detail-page login-register-page">
            <!-- #PAGE CONTENT# -->
            <div class="section-container">
                <div class="section login-register-section">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 left">
                                    <div class="wrapper">
                                        <div class="logo-title">
                                            <div class="icon">
                                                <span class="icon-favicon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
                                            </div>
                                            <div class="title">Giriş Yapın</div>
                                        </div>
                                        <div class="form-container">
                                            <div class="input">
                                                <input type="text" required />
                                                <span>Winfiniti kullanıcı adınız veya mail adresiniz</span>
                                            </div>
                                            <div class="input">
                                                <input type="password" required />
                                                <span>Parola</span>
                                            </div>
                                            <div class="input">
                                                <div class="text">
                                                    Ekstra açıklama metnini buraya girilecektir daha fazla bilgi için düzenleyin.
                                                </div>
                                            </div>
                                            <div class="input button">
                                                <a href="javascript:void(0)" class="blue-button">Oturum Açın</a>
                                            </div>
                                            <div class="other-link">
                                                <a href="javascript:void(0)" class="link-button">Kullanıcı adını veya şifrenizi mi unuttunuz?</a>
                                            </div>
                                            <div class="other-text">veya hesabınız yoksa bir hesap oluşturun</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 right">
                                    <div class="text-wrapper">
                                        <div class="title">Neden Hesap Oluşturmalıyım?</div>
                                        <div class="subtitle">Winfinitiye Kayıt Olmanın Avantajları Nelerdir?</div>
                                        <div class="text">
                                            1.) Ürünleri alış fiyatlarından satın alabilirsiniz.<br />
                                            2.) Winfiniti işini başkalarına tanıtarak işinizi büyütebilirsiniz.<br />
                                            3.) Satışlardan ve Winfiniti işinizi tanıttığınız diğer kişilerin satışlarından ek primler ve teşvikler kazanabilirsiniz.<br />
                                            4.) Sanal ofisimizden müşterilerinizi kazançlarınızı ve bütün hareketlerini görebilirsiniz.
                                        </div>
                                        <div class="button-box">
                                            <a href="javascript:void(0)" class="blue-button">Yeni Hesap Oluşturun</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section note_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="note-box">
                                    Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #PAGE CONTENT# -->
        </div>
