<div class="page-wrapper detail-page contact-page">
    <!-- #PAGE CONTENT# -->
    <div class="detail-page-banner">
        <img src="../../assets/images/general/contact-banner.png" />
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">
                            Contact with<br />
                            Winfiniti
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section section_8">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 contact_info">
                        <div class="wrapper">
                            <ul>
                                <li>
                                    <div class="icon"><span class="icon-maps-and-flags"></span></div>
                                    <div class="text">
                                        <b>Adres: </b>Büyük Cami Mahallesi<br>Namazgahtan Geçidi No:2 A/B Blok 22800<br>
                                        Keşan/Edirne
                                    </div>
                                </li>

                                <li>
                                    <div class="icon"><span class="icon-phone-receiver"></span></div>
                                    <div class="text">
                                        <b>Telefon: </b>(0212)411 21 53 - (0212)411 21 53<br />
                                        <b>Telefon 2: </b>(0212)411 21 53 - (0212)411 21 53
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="icon-envelope"></span></div>
                                    <div class="text">
                                        <b>Mail: </b>info@winfiniti.com.tr
                                    </div>
                                </li>

                                <li>
                                    <div class="icon"><span class="icon-clock-circular-outline"></span></div>
                                    <div class="text">
                                        Pazartesi-Cuma <b>08:00-22:00</b><br>
                                        Haftasonları <b>Kapalı</b>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 contact_maps">
                        <div class="wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24139.80597349144!2d26.581331854490568!3d40.86143258307026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b3c885b6edf295%3A0xd2f748d48bf8cfbb!2zQsO8ecO8ayBDYW1pLCAyMjgwMCBLZcWfYW4vRWRpcm5l!5e0!3m2!1str!2str!4v1565556727967!5m2!1str!2str" width="" height="" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_9">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper">
                            <h2 class="title">We're here to help</h2>
                        </div>
                        <div class="contact-icon-box-wrapper">
                            <div class="box">
                                <div class="icon">
                                    <span class="icon-social-care"></span>
                                </div>
                                <div class="title">Talk to us</div>
                                <div class="text">Chat with experts online or have us call you right away. You can also schedule a time for us to call you when you’re ready. Answer a few questions and we’ll give you the best options.</div>
                                <div class="button-wrapper">
                                    <a href="javascript:void(0)" class="link-button">Talk to us</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="icon">
                                    <span class="icon-help"></span>
                                </div>
                                <div class="title">Talk to us</div>
                                <div class="text">Chat with experts online or have us call you right away. You can also schedule a time for us to call you when you’re ready. Answer a few questions and we’ll give you the best options.</div>
                                <div class="button-wrapper">
                                    <a href="javascript:void(0)" class="link-button">Talk to us</a>
                                </div>
                            </div>
                        </div>
                        <div class="content-container">
                            <div class="paragraph_box">
                                <div class="title">Winfiniti worldwide phone numbers</div>
                                <div class="text">
                                    See all <a href="javascript:void(0)">Winfiniti phone numbers around the world.</a>
                                </div>
                            </div>
                            <div class="paragraph_box">
                                <div class="title">
                                    Accessibility support
                                </div>
                                <div class="text">
                                    If you use an accessibility feature or assistive technology, you can get direct access to Apple representatives who are trained in providing support using accessibility services. Find the accessibility and assistive technology phone number for your country or <a href="javascript:void(0)">learn more and get help with accessibility features.</a>
                                </div>
                            </div>
                            <div class="paragraph_box">
                                <div class="title">
                                    Complimentary support
                                </div>
                                <div class="text">
                                    Most Apple products come with 90 days of complimentary phone support and a one-year limited warranty. We <a href="javascript:void(0)">recommend that you check your coverage before contacting us.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section note_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="note-box">
                            Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #PAGE CONTENT# -->
</div>
