<div class="page-wrapper detail-page product-detail">
        <!-- #PAGE CONTENT# -->
        <div class="top-links-container">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <div class="title">Beats Studio3</div>
                            <div class="right-link">
                                <ul>
                                    <li class="active"><a href="javascript:void(0)">Eşitleyici</a></li>
                                    <li><a href="javascript:void(0)">Mikrofonlar</a></li>
                                    <li><a href="javascript:void(0)">Kayıt Cihazları</a></li>
                                    <li><a href="javascript:void(0)">Kılıflar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-modal-container" id="productDetailSlider">
            <div class="wrapper">
                <div class="box-container">
                    <a href="javascript:;" class="close-button"><span class="icon-close"></span></a>
                    <div class="product-detail-slider">
                        <div class="slider-for">
                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/beat1.png" /></div>
                            </div>

                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/image-25.png" /></div>
                            </div>

                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/image-26.png" /></div>
                            </div>
                        </div>
                        <div class="slider-nav">
                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/beat1.png" /></div>
                            </div>

                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/image-25.png" /></div>
                            </div>

                            <div class="slick-slide">
                                <div class="img"><img src="../../assets/images/general/image-26.png" /></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-container product-detail-container">
            <div class="section section_13">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 product_left_image">
                            <div class="wrapper">
                                <div class="product-detail-slider">
                                    <div class="slider-for">
                                        <div class="slick-slide">

                                                <div class="img"><img src="../../assets/images/general/beat1.png" /></div>
                                        </div>

                                        <div class="slick-slide">

                                                <div class="img"><img src="../../assets/images/general/image-25.png" /></div>
                                        </div>

                                        <div class="slick-slide">


                                                <div class="img"><img src="../../assets/images/general/image-26.png" /></div>
                                        </div>
                                    </div>
                                    <div class="slider-nav">
                                        <div class="slick-slide">
                                            <div class="img"><img src="../../assets/images/general/beat1.png" /></div>
                                        </div>

                                        <div class="slick-slide">
                                            <div class="img"><img src="../../assets/images/general/image-25.png" /></div>
                                        </div>

                                        <div class="slick-slide">
                                            <div class="img"><img src="../../assets/images/general/image-26.png" /></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-icon-wrapper">
                                    <div class="box">
                                        <span class="icon-package"></span>
                                        <span><label>Ücretsiz </label><label>Kargo </label><label>Fırsatı</label></span>
                                    </div>
                                    <div class="box">
                                        <span class="icon-settings"></span>
                                        <span><label>Kişiye </label><label>Özel </label><label>Ücretsiz Kurulum</label></span>
                                    </div>
                                    <div class="box">
                                        <span class="icon-clock-circular-outline"></span>
                                        <span><label>15 Gün </label><label>Koşulsuz İade </label><label>Garantisi</label></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 product_right_content">
                            <div class="wrapper">
                                <div class="box">
                                    <div class="title">Beats Studio3 Wireless Kulaklık - Beats Skyline Collection, Gece Siyahı</div>
                                    <div class="price">
                                        <span>2.299,00 TL</span>
                                        <small>766,33 TL x 3 aya kadar taksit</small>
                                    </div>
                                    <div class="color-box">
                                        <div class="box-title">Bir renk seçin.</div>
                                        <ul>
                                            <li>
                                                <input type="radio" name="color" />
                                                <div class="wrp">
                                                    <div class="bar" style="background:#fff;"></div>
                                                    <div class="title">Beyaz</div>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" checked />
                                                <div class="wrp">
                                                    <div class="bar" style="background:#000;"></div>
                                                    <div class="title">Siyah</div>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="radio" name="color" />
                                                <div class="wrp">
                                                    <div class="bar" style="background:#FF6565;"></div>
                                                    <div class="title">Mercan</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="box">
                                    <div class="box-title">Bir Özellik seçin.</div>
                                    <div class="color-box">
                                        <ul>
                                            <li>
                                                <input type="radio" name="property" checked />
                                                <div class="wrp">
                                                    <b>Kablo Bağlantısı</b>
                                                    <span>+220,00TL</span>
                                                </div>
                                            </li>

                                            <li>
                                                <input type="radio" name="property" />
                                                <div class="wrp">
                                                    <b>
                                                        Gold Versiyon
                                                        Özel Üretim
                                                    </b>
                                                    <span>2.401,00TL</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="box">
                                    <div class="box-title">Bir Özellik seçin.</div>
                                    <div class="select">
                                        <select>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                            <option>Lorem ipsum dolar sit amet</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="box">
                                    <div class="gray-box-wrapper">
                                        <div class="price">8.699,00 TL</div>
                                        <div class="text">KDV ve yasal ücretler dahildir: Yaklaşık 2.451,00 TL.* </div>
                                        <div class="bottom">
                                            <div class="button-area">
                                                <a href="javascript:void(0)" class="blue-button">Çantaya Ekleyin</a>
                                                <a href="javascript:void(0)" class="fav-button"><span class="icon-heart"></span></a>
                                            </div>
                                            <div class="bottom-text">
                                                <div class="icon"><span class="icon-package"></span></div>
                                                <div class="txt">
                                                    Bugün sipariş verin.<br />
                                                    Teslim tarihi: <small>Per 25 Tem – Ücretsiz</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-box">
                                    Satın almak için yardım alın.<br />
                                    <a href="javascript:void(0)">Hemen Destek</a> veya 0216 282 1511 numaralı telefonu arayın.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section full-width-slider">
                <div class="wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="../../assets/images/general/Beats-EP-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/Beats-EP-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/Beats-EP-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/Beats-EP-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="../../assets/images/general/Beats-EP-1.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="section accordion_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="accordion-box">
                                <a href="javascript:;" data-id="accordion-1" class="accordion_button">
                                    <span>
                                        Ürün Hakkında Genel Bilgi
                                    </span>
                                </a>
                                <div class="accordion_content">
                                    <div class="item" data-id="accordion-1">
                                        <div class="wrapper">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a erat venenatis, tristique magna ac, vehicula ipsum. Donec in blandit velit. Integer quam felis, interdum in commodo id, ultricies vitae velit. Phasellus id ipsum ut mi pharetra posuere eu eget leo. Praesent finibus leo ut turpis consectetur sollicitudin. Aenean in aliquet tellus. Fusce molestie convallis sapien, vitae tempus urna tempor ac. Morbi ornare pretium tellus, nec hendrerit tortor convallis vitae. Pellentesque tristique sapien ac iaculis euismod. Ut ultrices volutpat bibendum. Donec leo justo, eleifend ut ipsum at, ullamcorper maximus erat. Sed ac arcu enim. Fusce finibus dui in tempus tincidunt. Curabitur a congue dolor, nec vehicula magna. Nunc at enim vel quam pharetra porta. In sit amet faucibus libero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-box">
                                <a href="javascript:;" data-id="accordion-2" class="accordion_button">
                                    <span>
                                        Kutunun İçindekiler
                                    </span>
                                </a>
                                <div class="accordion_content">
                                    <div class="item" data-id="accordion-2">
                                        <div class="wrapper">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a erat venenatis, tristique magna ac, vehicula ipsum. Donec in blandit velit. Integer quam felis, interdum in commodo id, ultricies vitae velit. Phasellus id ipsum ut mi pharetra posuere eu eget leo. Praesent finibus leo ut turpis consectetur sollicitudin. Aenean in aliquet tellus. Fusce molestie convallis sapien, vitae tempus urna tempor ac. Morbi ornare pretium tellus, nec hendrerit tortor convallis vitae. Pellentesque tristique sapien ac iaculis euismod. Ut ultrices volutpat bibendum. Donec leo justo, eleifend ut ipsum at, ullamcorper maximus erat. Sed ac arcu enim. Fusce finibus dui in tempus tincidunt. Curabitur a congue dolor, nec vehicula magna. Nunc at enim vel quam pharetra porta. In sit amet faucibus libero.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-box">
                                <a href="javascript:;" data-id="accordion-3" class="accordion_button active">
                                    <span>
                                        Derecelendirmeler ve Yorumlar
                                    </span>
                                </a>
                                <div class="accordion_content">
                                    <div class="item" data-id="accordion-3">
                                        <div class="wrapper">
                                            <div class="comment-box-container">
                                                <div class="left">
                                                    <div class="text">
                                                        Ortalama 4.0
                                                    </div>
                                                    <div class="star">
                                                        <ul>
                                                            <li><div class="star active"></div></li>
                                                            <li><div class="star active"></div></li>
                                                            <li><div class="star active"></div></li>
                                                            <li><div class="star active"></div></li>
                                                            <li><div class="star"></div></li>
                                                        </ul>
                                                    </div>
                                                    <div class="point">
                                                        <div class="item"><span>5 Yıldız</span><div class="bar"></div><span>0</span></div>
                                                        <div class="item active"><span>4 Yıldız</span><div class="bar"></div><span>0</span></div>
                                                        <div class="item"><span>3 Yıldız</span><div class="bar"></div><span>0</span></div>
                                                        <div class="item"><span>2 Yıldız</span><div class="bar"></div><span>0</span></div>
                                                        <div class="item"><span>1 Yıldız</span><div class="bar"></div><span>0</span></div>
                                                    </div>
                                                </div>
                                                <div class="right">

                                                    <div class="tab">
                                                        <div class="tablinks" onclick="openCity(event, 'tab-1')" id="defaultOpen">En Yararlı</div>
                                                        <div class="tablinks" onclick="openCity(event, 'tab-2')">En Son</div>
                                                    </div>

                                                    <div id="tab-1" class="tabcontent">
                                                        <div class="tab-wrapper">
                                                            <div class="box">
                                                                <div class="left">
                                                                    <div class="title">Özgürlük</div>

                                                                    <div class="text">
                                                                        Kablosuz olması tam özgürlük vaadediyor. Apple in felsefesinin en başarılı yansıtıldığı ürünlerin başında. Sade, sezgisel ve pratik. Siri daha hassas hale geldi. Telefonu cebimizden çıkartmadan Siri yi kullanabiliyoruz
                                                                    </div>
                                                                    <div class="gray-text">
                                                                        Ümit Ö tarafından ANTALYA konumundan yazıldı 3 Nis 2019<br />
                                                                        91/117 kişi bunu yararlı buldu
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <div>Bu inceleme<br /> faydalı mı?</div>
                                                                    <div class="button-wrap">
                                                                        <a href="javascript:void(0)" class="button">Evet</a>
                                                                        <a href="javascript:void(0)" class="button">Hayır</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="box">
                                                                <div class="left">
                                                                    <div class="title">Rengi Mükemmel</div>

                                                                    <div class="text">

                                                                        Ses düzeyini ayarlamak, şarkıyı değiştirmek, arama yapmak ve hatta yol tarifi almak için “Hey Siri” demeniz ve isteğinizi belirtmeniz yeterli. AirPods’u ister tek ister çift kulakta kullanabilir ve müzik ya da podcast dinlerken

                                                                    </div>
                                                                    <div class="gray-text">
                                                                        Ümit Ö tarafından ANTALYA konumundan yazıldı 3 Nis 2019<br />
                                                                        91/117 kişi bunu yararlı buldu
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <div>Bu inceleme<br /> faydalı mı?</div>
                                                                    <div class="blue-text">Teşekkürler</div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div id="tab-2" class="tabcontent">
                                                        <div class="tab-wrapper">
                                                            <div class="box">
                                                                <div class="left">
                                                                    <div class="title">Özgürlük</div>

                                                                    <div class="text">
                                                                        Kablosuz olması tam özgürlük vaadediyor. Apple in felsefesinin en başarılı yansıtıldığı ürünlerin başında. Sade, sezgisel ve pratik. Siri daha hassas hale geldi. Telefonu cebimizden çıkartmadan Siri yi kullanabiliyoruz
                                                                    </div>
                                                                    <div class="gray-text">
                                                                        Ümit Ö tarafından ANTALYA konumundan yazıldı 3 Nis 2019<br />
                                                                        91/117 kişi bunu yararlı buldu
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <div>Bu inceleme<br /> faydalı mı?</div>
                                                                    <div class="button-wrap">
                                                                        <a href="javascript:void(0)" class="button">Evet</a>
                                                                        <a href="javascript:void(0)" class="button">Hayır</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="box">
                                                                <div class="left">
                                                                    <div class="title">Rengi Mükemmel</div>

                                                                    <div class="text">

                                                                        Ses düzeyini ayarlamak, şarkıyı değiştirmek, arama yapmak ve hatta yol tarifi almak için “Hey Siri” demeniz ve isteğinizi belirtmeniz yeterli. AirPods’u ister tek ister çift kulakta kullanabilir ve müzik ya da podcast dinlerken

                                                                    </div>
                                                                    <div class="gray-text">
                                                                        Ümit Ö tarafından ANTALYA konumundan yazıldı 3 Nis 2019<br />
                                                                        91/117 kişi bunu yararlı buldu
                                                                    </div>
                                                                </div>
                                                                <div class="right">
                                                                    <div>Bu inceleme<br /> faydalı mı?</div>
                                                                    <div class="blue-text">Teşekkürler</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="last-box">
                                                        <a href="javascript:void(0)" class="button-1">Daha Fazla Yorum Göster </a>
                                                        <span>yada </span>
                                                        <a href="javascript:;" class="button-2">Yorum Yaz</a>
                                                    </div>
                                                </div>
                                                <div class="comment-write">
                                                    <div class="flex-wrapper">
                                                        <div class="left">
                                                            <div class="text">
                                                                Ortalama 4.0
                                                            </div>
                                                            <div class="star">
                                                                <ul>
                                                                    <li><div class="star active"></div></li>
                                                                    <li><div class="star active"></div></li>
                                                                    <li><div class="star active"></div></li>
                                                                    <li><div class="star active"></div></li>
                                                                    <li><div class="star"></div></li>
                                                                </ul>
                                                            </div>
                                                            <div class="button">
                                                                <a href="javascript:void(0)" class="blue-button">Yorumu Gönder</a>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <div class="input">
                                                                <input type="text" placeholder="Yorumun Başlığı" />
                                                            </div>
                                                            <div class="input">
                                                                <textarea></textarea>
                                                                <label>Yorumunuz Başlığı</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-top-title text-center">
                                <h2 class="title">Diğer ürünlerimize göz atın</h2>
                            </div>
                            <div class="other-products">
                                <div class="wrapper">
                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img"><img src="../../assets/images/general/image-13.png" /></div>
                                            <div class="content">
                                                <div class="tag">Yeni</div>
                                                <div class="title">
                                                    NIKON D7500 + AF-S DX NIKKOR 18-140 VR
                                                    Dijital SLR Fotoğraf Makinesi
                                                </div>
                                                <div class="price">8.599,00 TL</div>
                                            </div>
                                            <div class="button-box">
                                                <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img"><img src="../../assets/images/general/image-14.png" /></div>
                                            <div class="content">
                                                <div class="tag">Yeni</div>
                                                <div class="title">
                                                    GOPRO HERO7 BLACK
                                                </div>
                                                <div class="price">2.999,00 TL</div>
                                            </div>
                                            <div class="button-box">
                                                <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="item">
                                        <a href="javascript:void(0)">
                                            <div class="img"><img src="../../assets/images/general/image-15.png" /></div>
                                            <div class="content">
                                                <div class="title">
                                                    SJCAM SJ4000 WIFI 4K Aksiyon Kamera
                                                </div>
                                                <div class="price">599,00 TL</div>
                                            </div>
                                            <div class="button-box">
                                                <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
