<div class="page-wrapper detail-page">
        <!-- #PAGE CONTENT# -->
        <div class="top-links-container">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <div class="title">Privacy Policy</div>
                            <div class="right-link">
                                <ul>
                                    <li class="active"><a href="javascript:void(0)">Terms of Use</a></li>
                                    <li><a href="javascript:void(0)">Services</a></li>
                                    <li><a href="javascript:void(0)">Sales&Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section section_55">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-wrapper title-border">
                                <h2 class="title">Winfiniti Website Terms of Use</h2>
                                <h5 class="title-2">Legal Information & Notices</h5>
                            </div>
                            <div class="content-container">
                                <b>
                                    Ownership of Site; Agreement to Terms of Use
                                </b><br /><br />
                                These Terms and Conditions of Use (the "Terms of Use") apply to the Apple web site located at www.apple.com, and all associated sites linked to www.apple.com by Apple, its subsidiaries and affiliates, including Apple sites around the world (collectively, the "Site"). The Site is the property of Apple Inc. ("Apple") and its licensors. BY USING THE SITE, YOU AGREE TO THESE TERMS OF USE; IF YOU DO NOT AGREE, DO NOT USE THE SITE.
                                <br /><br />
                                Apple reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these Terms of Use, Apple grants you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.
                                <br /><br />

                                <b>Content</b>
                                <br /><br />

                                All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music, artwork and computer code (collectively, "Content"), including but not limited to the design, structure, selection, coordination, expression, "look and feel" and arrangement of such Content, contained on the Site is owned, controlled or licensed by or to Apple, and is protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights and unfair competition laws.
                                <br /><br />
                                Except as expressly provided in these Terms of Use, no part of the Site and no Content may be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way (including "mirroring") to any other computer, server, Web site or other medium for publication or distribution or for any commercial enterprise, without Apple’s express prior written consent.
                                <br /><br />
                                You may use information on Apple products and services (such as data sheets, knowledge base articles, and similar materials) purposely made available by Apple for downloading from the Site, provided that you (1) not remove any proprietary notice language in all copies of such documents, (2) use such information only for your personal, non-commercial informational purpose and do not copy or post such information on any networked computer or broadcast it in any media, (3) make no modifications to any such information, and (4) not make any additional representations or warranties relating to such documents.
                                <br /><br />

                                <b>Guidelines for Using Apple Trademarks & Copyrights</b><br />
                                <ul>
                                    <li>Rights & Permissions</li>
                                    <li>Trademarks</li>
                                    <li>Claims of Copyright Infringement</li>
                                    <li>Piracy</li>
                                    <li>Counterfeit Products</li>
                                    <li>Apple’s Unsolicited Idea Submission Policy</li>
                                    <li>Software License Information</li>
                                </ul><br />
                                <b>Your Use of the Site</b>
                                <br /><br />
                                You may not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Site or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Site. Apple reserves the right to bar any such activity.
                                <br /><br />
                                You may not attempt to gain unauthorized access to any portion or feature of the Site, or any other systems or networks connected to the Site or to any Apple server, or to any of the services offered on or through the Site, by hacking, password "mining" or any other illegitimate means.
                                <br /><br />
                                You may not probe, scan or test the vulnerability of the Site or any network connected to the Site, nor breach the security or authentication measures on the Site or any network connected to the Site. You may not reverse look-up, trace or seek to trace any information on any other user of or visitor to the Site, or any other customer of Apple, including any Apple account not owned by you, to its source, or exploit the Site or any service or information made available or offered by or through the Site, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than your own information, as provided for by the Site.
                                <br /><br />
                                You agree that you will not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or Apple’s systems or networks, or any systems or networks connected to the Site or to Apple.
                                <br /><br />
                                You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of the Site or any transaction being conducted on the Site, or with any other person’s use of the Site.
                                <br /><br />
                                <b>
                                    ELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.
                                </b>
                                <br /><br />
                                Apple administers and operates the www.apple.com Site from its location in Cupertino, California USA; other Apple sites may be administered and operated from various locations outside the United States. Although the Site is accessible worldwide, not all features, products or services discussed, referenced, provided or offered through or on the Site are available to all persons or in all geographic locations, or appropriate or available for use outside the United States. Apple reserves the right to limit, in its sole discretion, the provision and quantity of any feature, product or service to any person or geographic area. Any offer for any feature, product or service made on the Site is void where
                                Any feedback you provide at this site shall be deemed to be non-confidential. Apple shall be free to use such information on an unrestricted basis.
                                <br /><br />
                                The information contained in this web site is subject to change without notice.
                                Copyright © 1997-2009 Apple Inc. All rights reserved.
                                Apple Inc., One Apple Park Way, Cupertino, CA 95014, USA.
                                <br /><br />
                                Updated by The Apple Legal Team on Nov. 20, 2009
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
