<div class="page-wrapper detail-page category-page">
    <!-- #PAGE CONTENT# -->
    <div class="category-page-banner">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title">Televizyon&
                            <br />Konsol</div>
                        <div class="right-img">
                            <img src="../../assets/images/general/image-23.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-filter-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="left">
                            <a href="javascript:;" class="filter-1-button">
                                <span class="icon-list"></span>
                                <span>Filtre</span>
                            </a>
                        </div>
                        <div class="right">
                            <div class="filter-2-button">
                                <span>Sıralama Ölçütü:</span>
                                <div class="select-dropdown">
                                    <a href="javascript:;" class="button">Öne Çıkanlar</a>
                                    <div class="select_dropdown">
                                        <div class="wrapper">
                                            <a href="javascript:void(0)" class="item">Öne Çıkanlar</a>
                                            <a href="javascript:void(0)" class="item">En Yeniler</a>
                                            <a href="javascript:void(0)" class="item">Fiyat: Düşükten Yükseğe</a>
                                            <a href="javascript:void(0)" class="item">Fiyat: Yüksekten Düşüğe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section category-product-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="category_container">
                            <div class="category_left_box">
                                <div class="wrapper">
                                    <div class="item active">
                                        <a href="javascript:;">Ürün Türü</a>
                                        <div class="left_drop_menu">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">Hd tv</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Uhd tv</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">4K tv</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Smart TV</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Televizyon ve
                                                        <br />Aksesuarları</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="javascript:;">Renkler</a>
                                        <div class="left_drop_menu">
                                            <ul class="color-box">
                                                <li>
                                                    <input type="radio" name="color" />
                                                    <div class="color-bar" style="background:#000000;"></div>
                                                    <div class="title">Siyah</div>

                                                </li>
                                                <li class="">
                                                    <input type="radio" name="color" checked/>
                                                    <div class="color-bar" style="background:#9CCEFF;"></div>
                                                    <div class="title">Mavi</div>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" />
                                                    <div class="color-bar" style="background:#5D3400;"></div>
                                                    <div class="title">Kahve</div>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" />
                                                    <div class="color-bar" style="background:#F3B7D5;"></div>
                                                    <div class="title">Pembe</div>

                                                </li>
                                                <li>
                                                    <input type="radio" name="color" />
                                                    <div class="color-bar" style="background:#F3F3F3;"></div>
                                                    <div class="title">Gri</div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="javascript:;">Özellikler</a>
                                        <div class="left_drop_menu">
                                            <ul class=""></ul>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="javascript:;">Uyumlu Olduğu Kasalar</a>
                                        <div class="left_drop_menu">
                                            <ul class=""></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="category_right_box">
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="product-img">
                                            <div id="carousel-1" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-24.png" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-24.png" />
                                                        </div>
                                                    </div>

                                                    <div class="carousel-item">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-24.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                                                    <span class="icon-left"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                                                    <span class="icon-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                BEATS Studio 3 Kablosuz Kulak Üstü Kulaklık Siyah
                                            </div>
                                            <div class="price">
                                                12.799,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">
                                            <div class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-25.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                Xbox One S - 4K ULTRA HD Yüksek Dinamikli Oyun Konsolu 1TB
                                            </div>
                                            <div class="price">
                                                2.560,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">

                                            <div id="carousel-2" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-25.png" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-26.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                                                    <span class="icon-left"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                                                    <span class="icon-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                Sunny Smart Watch Operation Yellow
                                            </div>
                                            <div class="price">
                                                8.599,00 TL
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="product-img">

                                            <div id="carousel-3" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-13.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="title">
                                                SJCAM SJ4000 Camera Wifi Spot
                                            </div>
                                            <div class="price">
                                                8.599,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">

                                            <div id="carousel-4" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-14.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="title">
                                                NIKON D7500 + AF-S DX NIKKOR Dijital SLR Fotoğraf Makinesi
                                            </div>
                                            <div class="price">
                                                6.000,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">
                                            <div id="carousel-5" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-15.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-5" role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-5" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                GoPro Black 4 Pro Black Ver.
                                            </div>
                                            <div class="price">
                                                2.329,00 TL
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section section_2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="title-wrapper white-color">
                                                    <h5 class="subtitle">Tekstil</h5>
                                                    <h2 class="title">Şimdi, harekete geç!</h2>
                                                </div>
                                                <div class="text-wrapper white-color">
                                                    Yeni sezon geldi! Şimdi, harekete geçme zamanı
                                                </div>
                                                <a href="javascript:void(0)" class="link-button">Detaylı Bilgi Alın</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="item">
                                        <div class="product-img">
                                            <div id="carousel-6" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-24.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-6" role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-6" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                BEATS Studio 3 Kablosuz Kulak Üstü Kulaklık Siyah
                                            </div>
                                            <div class="price">
                                                12.799,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">
                                            <div id="carousel-7" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-25.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-7" role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-7" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                Xbox One S - 4K ULTRA HD Yüksek Dinamikli Oyun Konsolu 1TB
                                            </div>
                                            <div class="price">
                                                2.560,00 TL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-img">
                                            <div id="carousel-8" class="carousel carousel-fade slide dekstop" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="img">
                                                            <img src="../../assets/images/general/image-26.png" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<a class="carousel-control-prev" href="#carousel-8 role="button" data-slide="prev">
                                                        <span class="icon-left"></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-8" role="button" data-slide="next">
                                                        <span class="icon-right"></span>
                                                    </a>-->
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="tag orange">Yeni</div>
                                            <div class="title">
                                                Sunny Smart Watch Operation Yellow
                                            </div>
                                            <div class="price">
                                                8.599,00 TL
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination-wrapper">
                                    <ul class="pagination">
                                        <li class="prev">
                                            <a href="javascript:void(0)">
                                                <span class="icon-arrow"></span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0)">1</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">2</a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:void(0)">
                                                <span class="icon-arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section note_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="note-box">
                            Daha fazla yardım mı lazım?
                            <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #PAGE CONTENT# -->
</div>
