   <!-- #LANGUAGE MODAL# -->
   <div class="fix-modal-container language-modal">
    <div class="wrapper">
        <div class="box-container">
            <a href="javascript:;" class="close-button"><span class="icon-close"></span></a>
            <div class="title-box">
                <div class="title">please select a language</div>
                <div class="subtitle">lütfen bir dil seçimi yapın</div>
            </div>
            <div class="language-list">

                <ul>
                    <li><a href="javascript:void(0)"><span class="icon-turkey-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span><span>Türkiye</span></a></li>
                    <li><a href="javascript:void(0)"><span class="icon-romania-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><span>Romania</span></a></li>
                    <li><a href="javascript:void(0)"><span class="icon-germany-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><span>Germany</span></a></li>
                    <li><a href="javascript:void(0)"><span class="icon-russia-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><span>Russia</span></a></li>
                    <li><a href="javascript:void(0)"><span class="icon-bulgaria-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><span>Bulgaria</span></a></li>
                    <li><a href="javascript:void(0)"><span class="icon-usa-flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span><span>USA</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- #LANGUAGE MODAL# -->
<div class="scrollTop d-none">
    <span class="icon-up"></span>
</div>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <div class="navigation">
                            <a href="javascript:void(0)" class="first item">
                                <div class="icon">
                                    <span class="icon-favicon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
                                </div>
                                <span>winfiniti</span>
                            </a>

                            <a href="javascript:void(0)" class="item">
                                <span>homepage</span>
                            </a>
                        </div>
                        <div class="text">
                            Diğer alışveriş seçenekleri: Bir Winfiniti Store’u ziyaret edin, 00800 448 829 873 ya da 0216 282 15 11 numaralı telefonu arayın veya bir bayi bulun.
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="box">
                            <div class="title">Alışveriş ve Detaylı Bilgi</div>
                            <ul>
                                <li><a href="javascript:void(0)">Aksesuarlar</a></li>
                                <li><a href="javascript:void(0)">Televizyon&Telefonlar</a></li>
                                <li><a href="javascript:void(0)">Saatler</a></li>
                                <li><a href="javascript:void(0)">Oyun Konsolları</a></li>
                                <li><a href="javascript:void(0)">Tekstil Ürünleri</a></li>
                                <li><a href="javascript:void(0)">Müzik</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <div class="title">Winfiniti Store</div>
                            <ul>
                                <li><a href="javascript:void(0)">Sitede Bulun</a></li>
                                <li><a href="javascript:void(0)">Today at Winfiniti</a></li>
                                <li><a href="javascript:void(0)">Ödeme Kolaylıkları</a></li>
                                <li><a href="javascript:void(0)">Sipariş Durumu</a></li>
                                <li><a href="javascript:void(0)">Alışveriş Durumu</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <div class="title">Eğitim</div>
                            <ul>
                                <li><a href="javascript:void(0)">Winfiniti ve Eğitim</a></li>
                                <li><a href="javascript:void(0)">Staj Kampları</a></li>
                            </ul>

                            <div class="title">Kurumsal</div>
                            <ul>
                                <li><a href="javascript:void(0)">Winfiniti İş Dünyası</a></li>
                                <li><a href="javascript:void(0)">Şirket Politikaları</a></li>
                            </ul>
                        </div>
                        <div class="box">
                            <div class="title">Hesap</div>
                            <ul>
                                <li><a href="javascript:void(0)">Winfiniti ID</a></li>
                                <li><a href="javascript:void(0)">Winfiniti Hesabı</a></li>
                                <li><a href="javascript:void(0)">Winfiniti Kişisel</a></li>
                            </ul>

                            <div class="title">Winfiniti Değerleri</div>
                            <ul>
                                <li><a href="javascript:void(0)">Erişebilirlilik</a></li>
                                <li><a href="javascript:void(0)">Gizlilik</a></li>
                                <li><a href="javascript:void(0)">Tedarik</a></li>
                            </ul>
                        </div>

                        <div class="box">
                            <div class="title">Winfiniti Hakkında</div>
                            <ul>
                                <li><a href="javascript:void(0)">Winfiniti Yönetimi</a></li>
                                <li><a href="javascript:void(0)">İş Fırsatları</a></li>
                                <li><a href="javascript:void(0)">Etkinlikler</a></li>
                                <li><a href="javascript:void(0)">İletişim</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="social-media">
                        <ul>
                            <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
                            <li><a href="javascript:void(0)"><span class="icon-twitter"></span></a></li>
                            <li><a href="javascript:void(0)"><span class="icon-instagram"></span></a></li>
                            <li><a href="javascript:void(0)"><span class="icon-youtube"></span></a></li>
                        </ul>
                    </div>
                    <div class="footer-info">
                        <div class="address-box">
                            <ul>
                                <li>
                                    <div class="icon"><span class="icon-maps-and-flags"></span></div>
                                    <div class="text">
                                        <b>Adres: </b>Büyük Cami Mahallesi<br />Namazgahtan Geçidi No:2 A/B Blok 22800<br />
                                        Keşan/Edirne
                                    </div>
                                </li>

                                <li>
                                    <div class="icon"><span class="icon-phone-receiver"></span></div>
                                    <div class="text">
                                        <b>Telefon: </b>(0212)411 21 53 - (0212)411 21 53
                                    </div>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                        <div class="center-box">
                            <a href="javascript:void(0)" class="store-box">
                                <img src="../../assets/images/general/image-7.png" />
                            </a>
                            <a href="javascript:void(0)" class="store-box">
                                <img src="../../assets/images/general/image-8.png" />
                            </a>
                        </div>
                        <div class="address-box">
                            <ul>
                                <li>
                                    <div class="icon"><span class="icon-envelope"></span></div>
                                    <div class="text">
                                        <b>Mail: </b>info@winfiniti.com.tr
                                    </div>
                                </li>

                                <li>
                                    <div class="icon"><span class="icon-clock-circular-outline"></span></div>
                                    <div class="text">
                                        Pazartesi-Cuma <b>08:00-22:00</b><br />
                                        Haftasonları <b>Kapalı</b>
                                    </div>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="img"><img src="../../assets/images/general/image-9.png" /></div>
                        <div class="center">
                            <div class="link-group">

                                <a href="javascript:void(0)">
                                    Site Haritası
                                </a><a href="javascript:void(0)">
                                    Gizlilik ve Veri Politikası
                                </a><a href="javascript:void(0)">
                                    Feragatname
                                </a><a href="javascript:void(0)">
                                    Kullanım Şartları
                                </a><a href="javascript:void(0)">
                                    Sosyal Medya Politikası
                                </a><a href="javascript:void(0)">
                                    Etik Kurallar
                                </a><a href="javascript:void(0)">İletişim</a>
                            </div>
                            <div class="text">Copyright © 2019 Winfiniti Web A.Ş - Tasarım&Front-End Agency Trakia</div>
                        </div>
                        <div class="right">
                            <a href="javascript:;" class="language-modal-button">
                                <div class="icon">
                                    <span class="icon-rectangle_flag_tr"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                                </div>
                                <div class="text">Türkiye</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- #FOOTER# -->
