<div class="page-wrapper detail-page session-page">
        <!-- #PAGE CONTENT# -->
        <div class="section-container">
            <div class="section session_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wrapper">
                                <div class="title-wrapper">
                                    <div class="icon"><span class="icon-tick-inside-circle"></span></div>
                                    <h2 class="title-2 font-weight-bold">
                                        An email has been sent to your email address, y*****@a*****.com Follow the directions in the email to unlock your Winfiniti ID and then sign in again
                                        </h2>
                                </div>
                                <div class="form-container">
                                    <div class="input button">
                                        <a href="javascript:void(0)" class="blue-button">Tamam</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
