<div class="page-wrapper detail-page session-page">
        <!-- #PAGE CONTENT# -->
        <div class="section-container">
            <div class="section session_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wrapper">
                                <div class="title-wrapper">
                                    <h2 class="title">
                                       404
                                    </h2>
                                    <h4 class="title-2">üzgünüz. burası boş.</h4>
                                </div>
                                <div class="large-button-container">
                                    <a href="javascript:void(0)" class="blue-button">Beni Önceki Sayfaya Götür</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
