<div class="banner homepage">
    <div id="DekstopCarousel" class="carousel carousel-fade slide dekstop" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active direction-left">
                <img src="../../assets/images/general/homepage-banner.png" />
                <div class="carousel-caption">
                    <div class="carousel-text-wrap">
                        <div class="verMid">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="left revealOnScroll" data-animation="fadeInLeft" data-timeout="400ms" data-duration="1000ms">
                                        <div class="box-wrapper">
                                            <div class="text-content">
                                                <div class="sub-title">Aksesuar</div>
                                                <div class="title">Her yerde
                                                    <br />Müziği Hissedin</div>
                                                <a href="javascript:void(0)" class="link">Kulaklık ve hoparlör satın alın</a>
                                            </div>
                                            <div class="scroll-down">
                                                <a href="javascript:void(0)" class="down-button">
                                                    <span class="icon-mouse"></span>
                                                    <span>Daha fazlası için
                                                        <br />kaydırmaya devam edin</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right revealOnScroll" data-animation="fadeInDown" data-timeout="400ms" data-duration="1000ms">
                                        <div class="box-wrapper">
                                            <img src="../../assets/images/general/image-1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
