<div class="page-wrapper detail-page cart-page">
    <!-- #PAGE CONTENT# -->
    <div class="section-container">
        <div class="section section_5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-top-title">
                            <h2 class="title">Sepetinizdeki Ürünler</h2>
                            <h4 class="subtitle">Tüm siparişlerinizde 100TL üzerine ücretsiz kargo seçeneğinden yararlanın</h4>
                        </div>
                    </div>
                </div>
                <div class="row product_item">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 product_img">
                        <div class="img">
                            <img src="../../assets/images/general/accessories_large.png" />
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 cart-item-content">
                        <div class="wrapper">
                            <div class="top">
                                <div class="title">
                                    BEATS Studio 3 Kablosuz Kulak Üstü Kulaklık Siyah - Apple W1 Çip Gücü Gürültü Önleme (ANC)
                                </div>
                                <div class="piece">
                                    <div class="select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="price">
                                    <b>23.295,00 TL</b>
                                    <a href="javascript:void(0)" class="cart-blue-button">Kaldır</a>
                                </div>
                            </div>
                            <div class="property_box">
                                <div class="item">
                                    <div class="left">
                                        <div class="icon">
                                            <span class="icon-tick-inside-circle"></span>
                                        </div>
                                        <div class="text">Yerleşik kontroller içeren RemoteTalk kablosu</div>
                                    </div>
                                    <div class="right">
                                        <a href="javascript:void(0)" class="cart-blue-button">Ekleyin</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="left">
                                        <div class="icon">
                                            <span class="icon-tick-inside-circle"></span>
                                        </div>
                                        <div class="text">
                                            Gün içinde verilen sipariş. Teslim tarihi:
                                            <div class="note">
                                                <span>
                                                    Per 25 Tem - Ücretsiz
                                                </span>
                                                <span>
                                                    Gönderim Seçenekleri:
                                                    <b>İSTANBUL</b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product_item">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 product_img">
                        <div class="img">
                            <img src="../../assets/images/general/xbox.png" />
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 cart-item-content">
                        <div class="wrapper">
                            <div class="top">
                                <div class="title">
                                    Xbox One S - 4K ULTRA HD Yüksek Dinamikli Oyun Konsolu 1TB
                                </div>
                                <div class="piece">
                                    <div class="select">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="price">
                                    <b>3.400,00 TL</b>
                                    <a href="javascript:void(0)" class="cart-blue-button">Kaldır</a>
                                </div>
                            </div>
                            <div class="property_box">

                                <div class="item">
                                    <div class="left">
                                        <div class="icon">
                                            <span class="icon-tick-inside-circle"></span>
                                        </div>
                                        <div class="text">Ekstra Beyaz Kontrolcü</div>
                                    </div>
                                    <div class="right">
                                        <a href="javascript:void(0)" class="cart-blue-button">Ekleyin</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="left">
                                        <div class="icon">
                                            <span class="icon-tick-inside-circle"></span>
                                        </div>
                                        <div class="text">Forza Horizon Deluxe Paket</div>
                                    </div>
                                    <div class="right">
                                        <a href="javascript:void(0)" class="cart-blue-button">Ekleyin</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="left">
                                        <div class="icon">
                                            <span class="icon-tick-inside-circle"></span>
                                        </div>
                                        <div class="text">
                                            Per 28 Tem - Ücretsiz
                                            <div class="note">
                                                <span>
                                                    Per 25 Tem - Ücretsiz
                                                </span>
                                                <span>
                                                    Gönderim Seçenekleri:
                                                    <b>İSTANBUL</b>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row cart-total">
                    <div class="wrapper">
                        <div class="item">
                            <div class="left">Ara Toplam</div>
                            <div class="right">26.695,00 TL</div>
                        </div>
                        <div class="item">
                            <div class="left">Teslimat</div>
                            <div class="right">ÜCRETSİZ</div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <a href="javascript:;" class="promotion-code">
                                    <div>
                                        Promosyon Kodu
                                        <b>Hemen Girin +</b>
                                    </div>
                                </a>
                                <div class="promotion-code-input">
                                    <input type="text" />
                                    <span>Promosyon Kodu</span>
                                </div>
                            </div>
                        </div>
                        <div class="item last-item">
                            <div class="left">Genel Toplam</div>
                            <div class="right">
                                <b>26.695,00 TL</b>
                                <span>26.695,00 TL'ye Kdv Dahildir</span>
                            </div>
                        </div>
                        <div class="cart-button-wrapper">
                            <a href="javascript:void(0)" class="blue-button">Ödeme Yapın</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-top-title text-center">
                            <h2 class="title">Diğer ürünlerimize göz atın</h2>
                        </div>
                        <div class="other-products">
                            <div class="wrapper">
                                <div class="item">
                                    <a href="javascript:void(0)">
                                        <div class="img">
                                            <img src="../../assets/images/general/image-13.png" />
                                        </div>
                                        <div class="content">
                                            <div class="tag">Yeni</div>
                                            <div class="title">
                                                NIKON D7500 + AF-S DX NIKKOR 18-140 VR Dijital SLR Fotoğraf Makinesi
                                            </div>
                                            <div class="price">8.599,00 TL</div>
                                        </div>
                                        <div class="button-box">
                                            <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="item">
                                    <a href="javascript:void(0)">
                                        <div class="img">
                                            <img src="../../assets/images/general/image-14.png" />
                                        </div>
                                        <div class="content">
                                            <div class="tag">Yeni</div>
                                            <div class="title">
                                                GOPRO HERO7 BLACK
                                            </div>
                                            <div class="price">2.999,00 TL</div>
                                        </div>
                                        <div class="button-box">
                                            <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                        </div>
                                    </a>
                                </div>

                                <div class="item">
                                    <a href="javascript:void(0)">
                                        <div class="img">
                                            <img src="../../assets/images/general/image-15.png" />
                                        </div>
                                        <div class="content">
                                            <div class="title">
                                                SJCAM SJ4000 WIFI 4K Aksiyon Kamera
                                            </div>
                                            <div class="price">599,00 TL</div>
                                        </div>
                                        <div class="button-box">
                                            <div class="fake-button blue-button">Ürünü İnceleyin</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_77">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="background-image-container">

                            <img src="../../assets/images/general/image-16.png" />
                            <div class="wrapper">
                                <div class="title">
                                    <span>
                                        VR GLASS PRO 4
                                    </span>
                                    <small>
                                        ŞİMDİ WİNFİNİTİ STOKTA
                                    </small>
                                </div>
                                <div class="button-box">
                                    <a href="javascript:void(0)" class="link-button">Satın Alın</a>
                                </div>
                            </div>
                        </div>
                        <div class="note-box">
                            Daha fazla yardım mı lazım?
                            <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                        </div>
                        <div class="accordion-box">
                            <a href="javascript:;" data-id="accordion-1" class="accordion_button">
                                <span>
                                    Satın Almayla İlgili Sorular
                                </span>
                            </a>
                            <div class="accordion_content">
                                <div class="item" data-id="accordion-1">
                                    <div class="wrapper">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a erat venenatis, tristique magna ac, vehicula ipsum.
                                        Donec in blandit velit. Integer quam felis, interdum in commodo id, ultricies vitae
                                        velit. Phasellus id ipsum ut mi pharetra posuere eu eget leo. Praesent finibus leo
                                        ut turpis consectetur sollicitudin. Aenean in aliquet tellus. Fusce molestie convallis
                                        sapien, vitae tempus urna tempor ac. Morbi ornare pretium tellus, nec hendrerit tortor
                                        convallis vitae. Pellentesque tristique sapien ac iaculis euismod. Ut ultrices volutpat
                                        bibendum. Donec leo justo, eleifend ut ipsum at, ullamcorper maximus erat. Sed ac
                                        arcu enim. Fusce finibus dui in tempus tincidunt. Curabitur a congue dolor, nec vehicula
                                        magna. Nunc at enim vel quam pharetra porta. In sit amet faucibus libero.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #PAGE CONTENT# -->
</div>
