<div class="page-wrapper detail-page corporate-page">
        <!-- #PAGE CONTENT# -->
        <div class="top-links-container">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <div class="title">Winfiniti Kurumsal</div>
                            <div class="right-link">
                                <ul>
                                    <li class="active"><a href="javascript:void(0)">Sektöre Bakış Açımız</a></li>
                                    <li><a href="javascript:void(0)">Neden Winfiniti?</a></li>
                                    <li><a href="javascript:void(0)">Temel Değerlerimiz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container corporate-container">
            <div class="section section_5 no-padding">
                <div class="section-background">
                    <img src="../../assets/images/general/blackman.jpg" />
                </div>
                <div class="absolute-content">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-1">
                                        <b>Winfiniti insanların <span class="orange">yeni bir denge, özgürlük</span> ve <span class="orange">refah düzeyine</span></b><br />
                                        ulaşmalarına yardımcı olarak hayatlarını değiştirmeyi misyon edinmiş<br />
                                        <span class="orange">küresel bir şirkettir</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_6 no-padding">
                <div class="section-background">
                    <img src="../../assets/images/general/woman1.jpg" />
                </div>
                <div class="absolute-content">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="white-text">
                                        <h2 class="title">Vizyon&Misyon</h2>
                                        <h3 class="subtitle">Winfiniti A.Ş</h3>
                                        <div class="text">
                                            WINFINITI Doğrudan Satış şirketi olarak, sektörde diğer faaliyet gösteren bütün firmaların başarısını önemsemekteyiz. Bu firmaların dolaylı yollardan da olsa bir diğerinin başarısı üzerinde etkisi olduğunu düşünüyoruz. Marka ve imajını korumakla mükellef olduğu gerçeğini göz önüne alarak hareket etmekteyiz. Bu bağlamda WINFINITI Doğrudan Satış şirketi olarak üzerimize düşen sorumluluğu en doğru şekilde yerine getirmeyi amaçlıyoruz. Atılan adımlarda ve yaptığımız tercihlerde, sadece şirketimizin değil ülkemiz genelindeki Doğrudan Satış sektörünün itibarını ve imajını korumayı hedeflemekteyiz.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section_7 no-padding">
                <div class="section-background">
                    <img src="../../assets/images/general/image-99.jpg" />
                </div>
                <div class="absolute-content">
                    <div class="wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="title-2">
                                        BAŞARILI OLABİLMENİZ İÇİN<br />
                                        Ne Gerekiyorsa Onu Yapıyoruz !
                                    </div>

                                    <div class="text">
                                        Biz akıllı stratejiler geliştirerek temsilcilerimizin başarısına odaklanıyoruz.
                                    </div>
                                    <div class="button-wrapper">
                                        <a href="javascript:void(0)" class="blue-button">Kayıt Olun</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section_8">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-wrapper">
                                <h2 class="title">
                                    Muhteşem insanları bir araya<br />
                                    getirerek olağanüstü işler<br />
                                    başarıyoruz.
                                </h2>
                                <div class="text-container">
                                    İnsanların tutku duydukları şeyleri yepyeni yollarla hayata geçirmeleri için düşünen, üreten ve yeniden tasarlayan, kültürel çeşitliliğe sahip bir ekibiz. Bu inovasyon, gücünü harika işler çıkarma kararlılığımızdan ve birbirimize duyduğumuz bağlılıktan alıyor. Çünkü buradaki çalışanlardan bir şeyler öğrenmek, en iyilerden öğrenmek demek.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section_9 blue-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-section">
                                <div class="box">
                                    <div class="title">Her cümleye “Bir de şu açıdan bakalım...” diye başladığımız bir ortamda çalışın.</div>
                                    <div class="text">
                                        Buradaki herkes yeniliklere imza atıyor veya yenilikçi olma yolunda ilerliyor. Çok az insanın hayal edebileceği ürünleri ve deneyimleri işte böyle yaratıyoruz. Örneğin, buradaki mühendisler tıbbi araştırmaların hızını ve doğruluğunu son derece artıran sistemler geliştirdi. Diğer bir ekip, tekerlekli sandalye kullanıcılarının Apple Watch ile aktivitelerini takip ederek zinde kalmalarına yardımcı olacak yollara imza attı. Retail ekiplerimiz müşteri deneyimini tümüyle yeniden yaratarak sektörde çığır açtılar. Patenti kafemizdeki bir şefe ait olan çevre dostu pizza kutusu, görevi ne olursa olsun Apple’daki herkesin inovasyon gerçekleştirdiğini her gün öğle yemeğinde bize hatırlatıyor.
                                    </div>
                                </div>

                                <div class="box">
                                    <div class="title-2">"İnsanlar bir şey için “bu çok zor” dediklerinde prensip olarak, fiziksel açıdan mümkünse, söz konusu işin zor ama yapılabilir olduğunu düşünürüm."</div>
                                    <div class="text">
                                        Johny Srouji<br />
                                        Donanım Teknolojileri<br />
                                        Kıdemli Başkan Yardımcısı
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-image-container">
                                <div class="box">
                                    <div class="img"><img src="../../assets/images/general/image-17.png" /></div>
                                </div>
                                <div class="box two-col">
                                    <div class="img"><img src="../../assets/images/general/image-18.png" /></div>
                                    <div class="img"><img src="../../assets/images/general/image-19.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
