<div class="page-wrapper detail-page session-page">
        <!-- #PAGE CONTENT# -->
        <div class="section-container">
            <div class="section session_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="wrapper">
                                <div class="title-wrapper">
                                    <h2 class="title">
                                        Having trouble signing in?
                                    </h2>
                                    <h4 class="title-2">You've come to the right place to reset a forgotten password or id.</h4>
                                </div>
                                <div class="form-container">
                                    <h2 class="title">
                                        Enter your Winfiniti ID or Email ID to get started.
                                    </h2>
                                    <div class="input">
                                        <input type="text" required="">
                                        <span>Winfiniti kullanıcı adınız veya mail adresiniz</span>
                                    </div>
                                    <div class="input button">
                                        <a href="javascript:void(0)" class="blue-button">Bilgileri Gönder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section note_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-box">
                                Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı telefonu arayın.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #PAGE CONTENT# -->
    </div>
