<app-banner></app-banner>

<div class="page-wrapper">
    <!-- #HOMEPAGE CONTENT# -->
    <div class="section-container">
        <div class="section section_1 gray_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper">
                            <h5 class="subtitle">Televizyon&Konsollar</h5>
                            <h2 class="title">Daha Güçlü, Daha Etkili</h2>
                        </div>
                        <div class="text-wrapper">
                            Diğer konsollardan %40 daha fazla gücüyle, gerçek 4K oyun deneyiminin keyfini çıkarın. Oyunlar Xbox One S'te daha iyi oynanır.
                        </div>
                        <div class="img-wrapper">
                            <img src="../../assets/images/general/image-2.png" />
                        </div>
                        <a href="javascript:void(0)" class="link-button">Xbox One S Satın Alın</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="section section_2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper white-color">
                            <h5 class="subtitle">Tekstil</h5>
                            <h2 class="title">Şimdi, harekete geç!</h2>
                        </div>
                        <div class="text-wrapper white-color">
                            Yeni sezon geldi! Şimdi, harekete geçme zamanı
                        </div>
                        <a href="javascript:void(0)" class="link-button">Detaylı Bilgi Alın</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 item-44">
                        <div class="wrapper">
                            <div class="title-wrapper">
                                <h5 class="subtitle">Saatler</h5>
                                <h2 class="title">
                                    Daha etkileyici
                                    <br /> bir şey?
                                </h2>
                                <h5 class="subtitle">sizce</h5>
                            </div>
                            <div class="image-box">
                                <img src="../../assets/images/general/image-4.png" />
                            </div>
                            <div class="link-box">
                                <a href="javascript:void(0)" class="link-button">Akıllı Saatler Satın Alın</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 item-44">
                        <div class="wrapper">
                            <div class="title-wrapper">
                                <h5 class="subtitle">Saatler</h5>
                                <h2 class="title">
                                    Şıklığını nasıl
                                    <br /> yansıtırsın?
                                </h2>
                                <h5 class="subtitle">Performans ve şıklık bir arada</h5>
                            </div>
                            <div class="image-box">
                                <img src="../../assets/images/general/image-5.png" />
                            </div>
                            <div class="link-box">
                                <a href="javascript:void(0)" class="link-button">Modern Saatler Satın Alın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section_4 gray_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper">
                            <h5 class="subtitle">Telefonlar</h5>
                            <h2 class="title">Tasarım ve Performans</h2>
                        </div>
                        <div class="text-wrapper">
                            Tam ekran tasarım. Bir iPhone’da şimdiye kadar sunulan en uzun pil ömrü. En hızlı performans. Stüdyo kalitesinde fotoğraflar.
                        </div>
                        <a href="javascript:void(0)" class="link-button">iPhone X Satın Alın</a>
                        <div class="img-wrapper">
                            <img src="../../assets/images/general/image-6.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #HOMEPAGE CONTENT# -->
</div>
