<br>
<br>
<section style="padding: 40px 0px;">
        <!-- #PAGE CONTENT# -->
        <div class="container">
            <div class="col-md-12">
                <h1 style="font-size: 56px; text-align: center;" class="mrg_btm">Girişimci yada Müşterimiz Olun</h1>
                <br>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 ft-left">
                    <h5><b>Neden Girişimci Olmayalım?</b></h5>
                    <p>Winfinitide Girişimci Olmanın Avantajları Nelerdir?</p>
                    <ul class="register-ul">
                        <li>Ürünleri alış fiyatlarından satın alabilirsiniz.</li>
                        <li>Ürünleri müşterinize Tavsiye ederek Perakende satış yaparak kazanç elde edebilirsiniz.</li>
                        <li>Winfiniti İşini başkalarına tanıtarak İşinizi büyütebilirsiniz.</li>
                        <li>Satışlarınızdan ve Winfiniti İşini tanıttığınız diğer kişilerin satışlarından ek primler ve teşvikler kazanabilirsiniz.	</li>
                        <li>Winfiniti Academy'de bulunan ücretsiz eğitimlere erişebilirsiniz.</li>
                        <li>Winfiniti İşinizi büyütmek için düzenlediği seminerlere ve eğitimlere katılabilirsiniz.</li>
                        <li>Sanal ofisinizden müşterilerinizi kazançlarınızı ve bütün hareketleri görebilirsiniz.</li>

                        <li>Winfiniti yaptığınız çalışmalara ömürboyu her zaman ödeme yapar.</li>
                    </ul>
                </div>

                <div class="col-md-6 ft-left">
                    <h5><b>Neden Müşteri Olmayalım?</b></h5>
                    <p>Winfinitide Müşteri Olmanın Avantajları Nelerdir?</p>
                    <ul class="register-ul">
                        <li>Winfiniti Bağımsız Temsilcinizden perakende satış fiyatı ile satın alabilirsiniz.</li>
                        <li>Winfiniti Bağımsız Temsilcinizden ürün bilgisi ve önerisi alabilirsiniz.</li>
                        <li>Online kataloğumuzdan üstün performanslı ürünlere erişebilirsiniz.</li>
                        <li>Müşteri Temsilcinizden Destek alabilirsiniz.</li>
                        <li>Sayfaya her girişinizde istediğiniz ürünleri alışveriş sepetinize ekleyebilirsiniz.</li>
                    </ul>

                    <h4 class="mrg_btm">Serbest Girişimci üyelerimiz tüm özelliklerimizden faydalanabilir.</h4>

                    <a class="nextBtn blue-button-register mrg_btm" href="javascript:void(0)">Serbest Girişimci Olun</a>

                    <p style="color: rgb(86,171,255);">
                        <a href="javascript:void(0)">
                            veya Müşterimiz Olarak Kayıt Olun
                        </a>
                    </p>
                </div>
            </div>
        </div>
        </div>


        <div class="section note_section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="note-box">
                            Daha fazla yardım mı lazım? <a href="javascript:void(0)">Hemen Destek Alın</a> veya 0212 282 1511 numaralı
                            telefonu arayın.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

